<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-current.xsd
    http://www.mulesoft.org/schema/mule/core
    http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/spring
    http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
    http://www.mulesoft.org/schema/mule/db      http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/http
    http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:config name="springConfig" files="beans.xml"
		doc:id="cd1e7040-0221-41c8-839f-1ed310c0efef" />

	<spring:security-manager>
		<spring:delegate-security-provider
			name="memory-provider" delegate-ref="authenticationManager" />
	</spring:security-manager>

	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config" doc:id="699c0d86-6946-48d9-9c94-6b35daaf0b21">
		<http:listener-connection host="0.0.0.0"
			port="${http.port}" />
	</http:listener-config>

	<flow name="spring-exampleFlow" doc:id="209d6430-ce78-45e7-b152-96b2082b4926">
		<http:listener config-ref="HTTP_Listener_config" path="/"
			doc:name="Listener" doc:id="1b7c130a-5b03-4e8a-b2df-6c5ba90af630" />
		<http:basic-security-filter realm="mule" />
		<spring:authorization-filter
			requiredAuthorities="ROLE_ADMIN" doc:id="993ad0dd-22a2-49ee-8d4c-b6574505d92d" />
		<set-payload value='#["User logged in successfully: HTTP port: ${http.port}, username: ${username}, password: ${password}, birthdate: ${birthdate}"]' doc:name="Success" doc:id="95f0077d-1bfc-460d-8f5c-e6136de44bc2" />
	
</flow>
</mule>